{
    "presets": [
        "es2015", 
        "stage-3"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs", 
        "syntax-async-functions",
        "transform-regenerator", 
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]]
}
